<div class="w3-container">
  <h5>General Stats</h5>
  <p>New Visitors</p>
  <div class="w3-grey">
    <div class="w3-container w3-center w3-padding w3-green" style="width: 25%">
      +25%
    </div>
  </div>

  <p>New Users</p>
  <div class="w3-grey">
    <div class="w3-container w3-center w3-padding w3-orange" style="width: 50%">
      50%
    </div>
  </div>

  <p>Bounce Rate</p>
  <div class="w3-grey">
    <div class="w3-container w3-center w3-padding w3-red" style="width: 75%">
      75%
    </div>
  </div>
</div>
<hr />

<div class="w3-container">
  <h5>Stats</h5>
  <table
    class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white"
  >
    <tr>
      <td>NPS</td>
      <td>65%</td>
    </tr>
    <tr>
      <td>Efficiency</td>
      <td>15.7%</td>
    </tr>
    <tr>
      <td>Adherance</td>
      <td>5.6%</td>
    </tr>
    <tr>
      <td>AHT</td>
      <td>2.1%</td>
    </tr>
    <tr>
      <td>Availability</td>
      <td>1.9%</td>
    </tr>
    <tr>
      <td>Abandonment</td>
      <td>1.5%</td>
    </tr>
  </table>
  <br />
  <button class="w3-button w3-dark-grey">
    More Stats  <i class="fa fa-arrow-right"></i>
  </button>
</div>
<hr />
<div class="w3-container">
  <h5>Top Performers</h5>
  <ul class="w3-ul w3-card-4 w3-white">
    <li class="w3-padding-16">
      <img
        src="/w3images/avatar2.png"
        class="w3-left w3-circle w3-margin-right"
        style="width: 35px"
      />
      <span class="w3-xlarge">Mike</span><br />
    </li>
    <li class="w3-padding-16">
      <img
        src="/w3images/avatar5.png"
        class="w3-left w3-circle w3-margin-right"
        style="width: 35px"
      />
      <span class="w3-xlarge">Jill</span><br />
    </li>
    <li class="w3-padding-16">
      <img
        src="/w3images/avatar6.png"
        class="w3-left w3-circle w3-margin-right"
        style="width: 35px"
      />
      <span class="w3-xlarge">Jane</span><br />
    </li>
  </ul>
</div>
<hr />

<!-- Twiter Feed -->

<div class="w3-container">
  <h5>Twitter Feed</h5>
  <div class="w3-row">
    <div class="w3-col m2 text-center">
      
    </div>
    <div class="w3-col m10 w3-container">
      <h4>
        John
        <span class="w3-opacity w3-medium">Sep 29, 2014, 9:12 PM</span>
      </h4>
      <p>
        Keep up the GREAT work! I am cheering for you!! Lorem ipsum dolor sit
        amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.
      </p>
      <br />
    </div>
  </div>

  <div class="w3-row">
    <div class="w3-col m2 text-center">
      
    </div>
    <div class="w3-col m10 w3-container">
      <h4>
        Bo
        <span class="w3-opacity w3-medium">Sep 28, 2014, 10:15 PM</span>
      </h4>
      <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <br />
    </div>
  </div>
</div>

<!-- End Twitter feed -->
<br />

<!-- Footer -->
<div class="w3-container w3-dark-grey w3-padding-32">
  <div class="w3-row">
    <div class="w3-container w3-third">
      <h5 class="w3-bottombar w3-border-green">Today's Tragets</h5>
      <p>NPS - 80</p>
      <p>Abandonment - 60</p>
      <p>AHT - 160 sec</p>
    </div>
    <div class="w3-container w3-third">
      <h5 class="w3-bottombar w3-border-red">Monthly Targets</h5>
      <p>NPS - 75</p>
      <p>Abandonment - 55</p>
      <p>AHT - 170 sec</p>
    </div>
    <div class="w3-container w3-third">
      <h5 class="w3-bottombar w3-border-orange">Financial year Targets</h5>
      <p>NPS - 60</p>
      <p>Abandonment - 50</p>
      <p>AHT - 180 sec</p>
    </div>
  </div>
</div>

<!-- End Footer -->

