<div class="w3-top">
  <div class="w3-bar w3-card w3-left-align w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-medium w3-white">
      <img
        src="/assets/Logo.jpg"
        class="w3-circle"
        style="height: 23px; width: 23px"
      />
      CM: Stats Dashboard
    </a>

    <a
      href="#"
      class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white"
      title="Admin"
    >
      <img
        src="/assets/Logo.jpg"
        class="w3-circle"
        style="height: 23px; width: 23px"
      />
    </a>
  </div>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-card w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px; margin-top: 24px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img src="/assets/Logo.jpg" class="w3-circle w3-margin-right" style="width:46px">
    </div>
    <div class="w3-col s8 w3-bar w3-card">
      <span>Welcome, <strong>Mike</strong></span><br>
      <a class="w3-bar-item w3-button" title="KPIs" routerLink="kpis"><i class="fa fa-envelope"></i></a>
      <a class="w3-bar-item w3-button" title="Duty Roster" routerLink="roster"><i class="fa fa-user"></i></a>
      <a class="w3-bar-item w3-button" title="Add Roster" routerLink="addroster"><i class="fa fa-cog"></i></a>
      </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>On Duty Today</h5>
  </div>
 <!-- Accordion -->
 <div class="w3-card w3-round">
  <div class="w3-white">
    <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> Shift Manager</button>
    <div id="Demo1" class="w3-hide w3-container">
      <p>Some text..</p>
    </div>
    <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> Morning Lead</button>
    <div id="Demo2" class="w3-hide w3-container">
      <p>Some other text..</p>
    </div>
    <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i> Evening Lead</button>
    <div id="Demo3" class="w3-hide w3-container">
   <div class="w3-row-padding">
   <br>
     <div class="w3-half">
       <img src="/w3images/lights.jpg" style="width:100%" class="w3-margin-bottom">
     </div>
     <div class="w3-half">
       <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
     </div>
     <div class="w3-half">
       <img src="/w3images/mountains.jpg" style="width:100%" class="w3-margin-bottom">
     </div>
     <div class="w3-half">
       <img src="/w3images/forest.jpg" style="width:100%" class="w3-margin-bottom">
     </div>
     <div class="w3-half">
       <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
     </div>
     <div class="w3-half">
       <img src="/w3images/snow.jpg" style="width:100%" class="w3-margin-bottom">
     </div>
   </div>
    </div>
  </div>      
</div>
<br>

      <!-- Alert Box -->
      <div class="w3-card w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
        <p><strong>Pending issue!</strong></p>
        <p>Siebel slow speeds resolved.</p>
      </div>
      <div class="w3-card w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
        <p><strong>Pending issue!</strong></p>
        <p>KPLC token generation slow.</p>
      </div>
      <!-- <div class="w3-card w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
        <p><strong>Reminder!</strong></p>
        <p>Lets keep AHT at 210 sec.</p>
      </div> -->
</nav>
<!-- End Sidebar/menu -->
