<div class="w3-card">
  <header class="w3-container" style="padding-top: 22px">
    <h5>
      <b><i class="fa fa-dashboard"></i> My Dashboard</b>
    </h5>
  </header>
  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-col w3-container" style="width: 14%">
      <button
        class="w3-button w3-red w3-round"
        style="width: 100%; height: 150px"
      >
        <div class="w3-left"><i class="fa fa-bar-chart-o w3-large"></i></div>
        <h3>{{ kpis.Adherence }}</h3>
        <div class="w3-clear"></div>
        <h5>Adherence</h5>
      </button>
    </div>
    <div class="w3-col w3-container" style="width: 14%">
      <button
        class="w3-button w3-blue w3-round"
        style="width: 100%; height: 150px"
      >
        <div class="w3-left"><i class="fa fa-tachometer w3-large"></i></div>
        <h3>{{ kpis.AHT }}</h3>
        <div class="w3-clear"></div>
        <h5>AHT</h5>
      </button>
    </div>
    <div class="w3-col w3-container" style="width: 14%">
      <button
        class="w3-button w3-teal w3-round"
        style="width: 100%; height: 150px"
      >
        <div class="w3-left"><i class="fa fa-check-square-o w3-large"></i></div>
        <h3>93</h3>
        <div class="w3-clear"></div>
        <h5>Quality</h5>
      </button>
    </div>
    <div class="w3-col w3-container" style="width: 14%">
      <button
        class="w3-button w3-orange w3-round"
        style="width: 100%; height: 150px"
      >
        <div class="w3-left"><i class="fa fa-phone w3-large"></i></div>
        <h3>80%</h3>
        <div class="w3-clear"></div>
        <h5>Abandonment</h5>
      </button>
    </div>
    <div class="w3-col w3-container" style="width: 14%">
      <button
        class="w3-button w3-brown w3-round"
        style="width: 100%; height: 150px"
      >
        <div class="w3-left"><i class="fa fa-thumbs-o-up w3-large"></i></div>
        <h3>{{ kpis.Satisfaction }}</h3>
        <div class="w3-clear"></div>
        <h5>Satisfaction</h5>
      </button>
    </div>
    <div class="w3-col w3-container" style="width: 14%">
      <button
        class="w3-button w3-green w3-round"
        style="width: 100%; height: 150px"
      >
        <div class="w3-left"><i class="fa fa-cogs w3-large"></i></div>
        <h3>110</h3>
        <div class="w3-clear"></div>
        <h5>Productivity</h5>
      </button>
    </div>
    <div class="w3-col w3-container" style="width: 14%">
      <button
        class="w3-button w3-purple w3-round"
        style="width: 100%; height: 150px"
      >
        <div class="w3-left"><i class="fa fa-phone-square w3-large"></i></div>
        <h3>{{ kpis.Shortcalls }}</h3>
        <div class="w3-clear"></div>
        <h5>Short calls</h5>
      </button>
    </div>
  </div>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-col w3-container" style="width: 14%">
      <button
        class="w3-button w3-red w3-round"
        style="width: 100%; height: 150px"
      >
        <div class="w3-left"><i class="fa fa-bar-chart-o w3-large"></i></div>
        <h3>98</h3>
        <div class="w3-clear"></div>
        <h5>Resolution</h5>
      </button>
    </div>
    <div class="w3-col w3-container" style="width: 14%">
      <button
        class="w3-button w3-blue w3-round"
        style="width: 100%; height: 150px"
      >
        <div class="w3-left"><i class="fa fa-tachometer w3-large"></i></div>
        <h3>80</h3>
        <div class="w3-clear"></div>
        <h5>Availability</h5>
      </button>
    </div>
    <div class="w3-col w3-container" style="width: 14%">
      <button
        class="w3-button w3-teal w3-round"
        style="width: 100%; height: 150px"
      >
        <div class="w3-left"><i class="fa fa-check-square-o w3-large"></i></div>
        <h3>{{ kpis.NotReady_M }}</h3>
        <div class="w3-clear"></div>
        <h5>Not Ready</h5>
      </button>
    </div>
    <div class="w3-col w3-container" style="width: 14%">
      <button
        class="w3-button w3-orange w3-round"
        style="width: 100%; height: 150px"
      >
        <div class="w3-left"><i class="fa fa-phone w3-large"></i></div>
        <h3>{{ kpis.Satisfaction }}%</h3>
        <div class="w3-clear"></div>
        <h5>Satisfaction</h5>
      </button>
    </div>
    <div class="w3-col w3-container" style="width: 14%">
      <button
        class="w3-button w3-brown w3-round"
        style="width: 100%; height: 150px"
      >
        <div class="w3-left"><i class="fa fa-thumbs-o-up w3-large"></i></div>
        <h3>{{ kpis.FCR }}</h3>
        <div class="w3-clear"></div>
        <h5>FCR</h5>
      </button>
    </div>
    <div class="w3-col w3-container" style="width: 14%">
      <button
        class="w3-button w3-green w3-round"
        style="width: 100%; height: 150px"
      >
        <div class="w3-left"><i class="fa fa-cogs w3-large"></i></div>
        <h3>{{ kpis.Occupancy }}</h3>
        <div class="w3-clear"></div>
        <h5>Occupancy</h5>
      </button>
    </div>
    <div class="w3-col w3-container" style="width: 14%">
      <button
        class="w3-button w3-purple w3-round"
        style="width: 100%; height: 150px"
      >
        <div class="w3-left"><i class="fa fa-phone-square w3-large"></i></div>
        <h3>{{ kpis.HoldTime_S }}</h3>
        <div class="w3-clear"></div>
        <h5>Hold Time</h5>
      </button>
    </div>
  </div>

  <div class="w3-panel">
    <div class="w3-row-padding" style="margin: 0 -16px">
      <div class="w3-third">
        <h5>Call Trends</h5>
        <img
          src="/w3images/region.jpg"
          style="width: 100%"
          alt="Call Distribution Trends"
        />
      </div>
      <div class="w3-twothird">
        <h5>Live Performance</h5>
        <table class="w3-table w3-striped w3-white">
          <tr>
            <td><i class="fa fa-clock-o w3-text-blue w3-large"></i></td>
            <td>AHT</td>
            <td>
              <i>{{ kpis.AHT }} mins</i>
            </td>
          </tr>
          <tr>
            <td><i class="fa fa-bell w3-text-red w3-large"></i></td>
            <td>Adherence</td>
            <td>
              <i>{{ kpis.Adherence }} %</i>
            </td>
          </tr>
          <tr>
            <td><i class="fa fa-hourglass-2 w3-text-yellow w3-large"></i></td>
            <td>Hold Time</td>
            <td>
              <i>{{ kpis.HoldTime_S }} sec</i>
            </td>
          </tr>
          <tr>
            <td><i class="fa fa-tty w3-text-red w3-large"></i></td>
            <td>Number of Calls</td>
            <td><i>25 / min</i></td>
          </tr>
          <tr>
            <td><i class="fa fa-tachometer w3-text-blue w3-large"></i></td>
            <td>NPS</td>
            <td>
              <i>{{ kpis.NPS }}</i>
            </td>
          </tr>
          <tr>
            <td><i class="fa fa-phone-square w3-text-red w3-large"></i></td>
            <td>Short Calls</td>
            <td>
              <i>{{ kpis.Shortcalls }}</i>
            </td>
          </tr>
          <tr>
            <td><i class="fa fa-line-chart w3-text-green w3-large"></i></td>
            <td>Efficiency</td>
            <td><i>79 %</i></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
