<div class="container">
  <br />
  <div class="row">
    <div class="col-md-6">
      <!--Overall Info-->
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <strong>Operations Manager</strong> - Lincoln Band
        </li>
        <li class="list-group-item">
          <strong>Morning Team Lead</strong> - Billy Chepkemoi
        </li>
        <li class="list-group-item">
          <strong>Afternoon Team Lead</strong> - Peter Mbugua
        </li>
      </ul>
      <!--Overall Info-->
    </div>
  </div>
  <br />
  <!--Table start-->
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Location</th>
        <th scope="col">Team Lead</th>
        <th scope="col">Support Channel</th>
        <th scope="col">Shift</th>
        <th scope="col">Teams</th>
        <th scope="col">Folder</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>JCC</td>
        <td>EK755 John Otto</td>
        <td>Support from Home</td>
        <td>5AM-2PM</td>
        <td>5AM-2PM</td>
        <td>5AM-2PM</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>JCC</td>
        <td>EK755 John Otto</td>
        <td>Support from Home</td>
        <td>5AM-2PM</td>
        <td>5AM-2PM</td>
        <td>5AM-2PM</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>JCC</td>
        <td>EK755 John Otto</td>
        <td>Support from Home</td>
        <td>5AM-2PM</td>
        <td>5AM-2PM</td>
        <td>5AM-2PM</td>
      </tr>
    </tbody>
  </table>
  <!--Table Edn-->
</div>
