<div
    class="w3-card w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
    <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
        <i class="fa fa-remove"></i>
    </span>
    <p><strong>Pending issue!</strong></p>
    <p>Siebel slow speeds resolved.</p>
</div>
<div
    class="w3-card w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
    <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
        <i class="fa fa-remove"></i>
    </span>
    <p><strong>Pending issue!</strong></p>
    <p>KPLC token generation slow.</p>
</div>
<div
    class="w3-card w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
    <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
        <i class="fa fa-remove"></i>
    </span>
    <p><strong>Reminder!</strong></p>
    <p>Lets keep AHT at 210 sec.</p>
</div>