<br />
<div class="container">
  <h2>
   ADD ROSTER
  </h2>
  <form>
    <label for="exampleFormControlInput1">Location</label>
    <select class="form-control">
      <option>JCC</option>
      <option>SCC</option>
      <option>TCC</option>
      <option>ECC</option>
    </select>
    <div class="form-group">
      <label for="sel1">Select Team-lead:</label>
      <select class="form-control" id="sel1">
        <option>Jackline Kiuru</option>
        <option>James Mbogo</option>
        <option>Ephantus Kariuki</option>
        <option>Jackline Oduk</option>
      </select>
    </div>

    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" placeholder="Enter email" id="email">
    </div>

    <div class="form-group">
      <label for="sel1">Select Shift:</label>
      <select class="form-control" id="sel1">
        <option value="">Select</option>
        <option value="5.00 AM-2.00PM">5.00 AM-2.00PM</option>
        <option>4.00 AM-+1.00AM</option>
        <option>8.00 AM-+5.00AM</option>
        </select>
    </div>

    <div class="form-group">
      <label for="sel1">Select Folder:</label>
      <select class="form-control" id="sel1">
        <option>Morning</option>
        <option>Afternoon</option>
        </select>
    </div>

    <div class="form-group">
      <label for="sel1">Select Support Channel:</label>
      <select class="form-control" id="sel1">
        <option>Office</option>
        <option>Home</option>
        </select>
    </div>

  <button type="submit" class="btn btn-primary">Submit</button>