<br />
<div class="container">
  <h2>
   ADD ROSTER
  </h2>
  <form>
    <label for="exampleFormControlInput1">Location</label>
    <select class="form-control">
      <option value ="">Select</option>
      <option value="JCC">JCC</option>
      <option value="SCC">SCC</option>
      <option value="TCC">TCC</option>
      <option value="ECC">ECC</option>
      </select>
    <div class="form-group">
      <label for="sel1">Select Team-lead:</label>
      <select class="form-control" id="sel1">
        <option value ="">Select</option>
        <option value="Jackline Kiuru">Jackline Kiuru</option>
        <option value="James Mbogo">James Mbogo</option>
        <option value="Ephantus Kariuki">Ephantus Kariuki</option>
        <option value="Jackline Oduk">Jackline Oduk</option>
       </select>
    </div>

    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" placeholder="Enter email" id="email">
    </div>

    <div class="form-group">
      <label for="sel1">Select Shift:</label>
      <select class="form-control" id="sel1">
        <option value ="">Select</option>
        <option value = "5.00 AM-2.00 PM">5.00 AM-2.00 PM</option>
        <option value = "4.00 AM-+1.00 AM">4.00 AM-+1.00 AM</option>
        <option value = "8.00 AM-+5.00 AM">8.00 AM-+5.00 AM</option>
        </select>
    </div>

    <div class="form-group">
      <label for="sel1">Select Teams:</label>
      <select class="form-control" id="sel1">
        <option value ="">Select</option>
        <option value = "5.00 AM-2.00 PM">5.00 AM-2.00 PM</option>
        <option value = "4.00 AM-+1.00 AM">4.00 AM-+1.00 AM</option>
        <option value = "8.00 AM-+5.00 AM">8.00 AM-+5.00 AM</option>
        </select>
    </div>

    <div class="form-group">
      <label for="sel1">Select Folder:</label>
      <select class="form-control" id="sel1">
        <option value ="">Select</option>
        <option value="Morning">Morning</option>
        <option value="Afternoon">Afternoon</option>
        </select>
    </div>

    <div class="form-group">
      <label for="sel1">Select Support Channel:</label>
      <select class="form-control" id="sel1">
        <option value ="">Select</option>
        <option value ="Office">Office</option>
        <option value ="Home">Home</option>
        </select>
    </div>

  <button type="submit" class="btn btn-primary">Submit</button>